@import url('reset.css');

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    padding: 40px 0;
}

.vocabulary__item {
    margin-bottom: 15px;
    background: #dcf9ff;
    color: #2f3037;
    border: 1px solid rgba(0, 0, 0, 0.688);
    box-shadow: 3px 4px 3px rgb(159, 159, 159);
    border-radius: 8px;
    padding: 20px;
}


.user {
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 500;
}

.title {
    margin-right: 10px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.name {
    font-size: 18px;
    font-weight: 700;
    padding-right: 25px;
    position: relative;
}

.name::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../icons/verified.png') center/cover no-repeat;
}

.translation {
    font-style: italic;
    text-transform: lowercase;
    color: #4f4e4e;
}

.description {
    margin-bottom: 10px;
}

.text {
    margin-bottom: 10px;
    font-size: 14px;
}

.add__btn {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto 30px;
    display: block;
    padding: 10px 30px;
    background: #00b5e7;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
}

.delete__btn,
.adding__btn {
    font-family: 'Montserrat', sans-serif;
    padding: 5px 20px;
    background: #00b5e7;
    color: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 18px;
}

/* .message {
    margin: 30px auto 0;
    max-width: 400px;
    position: relative;
    top: 120px;
    text-align: center;
    transition: 1s ease-in;
    padding: 20px;
    background: #d6d6d651;
} */

.adding {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.adding__body {
    background: #ffffff;
    border: 2px solid #00b5e7;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.adding__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.adding__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
    color: darkslategray;
    margin: 0 auto;
    padding: 18px;
    box-sizing: border-box;
}

.close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
}

.adding__input {
    padding: 5px 10px;
    margin-bottom: 7px;
}

#text {
    margin-bottom: 10px;
}

.adding__form label {
    font-size: 14px;
    line-height: 16px;
    color: grey;
    margin-bottom: 5px;
}